.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin 7s linear;
}}

@keyframes App-logo-spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 180deg;
    }
    }
      